/* Основные стили */
:root {
  --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --main-bg-color: #f0f8ff;
  --text-color: #333;
  --link-color: #d6d6d6;
  --footer-bg-color: #6a8faf;
  --button-bg-color: #46992d;
  --transparent-white: rgba(255, 255, 255, 0.8);
  --light-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  margin: 0;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

/* Основное содержимое */
main {
  padding: 20px;
}

/* Подвал */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: var(--main-bg-color);
  color: var(--footer-bg-color);
}

/* Анимация кнопок */

a, button, .grid-item {
  transition: transform 0.3s ease;
}

a:hover, button:hover, .grid-item:hover {
  transform: scale(1.05);
}

/* Изобржение и заголовок */

.game-header {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: white;
  border-radius: 15px;
  height: 200vh;
  padding: 1px 1px;
}

.text-box {
  background-color: white;
  border-radius: 15px;
  margin-top: 150px;
  margin-right: 20vh;
  margin-left: 20vh;
  padding: 1px 15vh;
}

.text-box h1 {
  margin: 0;
  text-align: center;
  font-size: 5ch;
  margin-top: 10vh;
}

/* Основные кнопки */

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки с одинаковой шириной */
  grid-gap: 10px; /* Отступ между элементами сетки */
  padding: 20px 25%;
}

.button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 15px 0; /* Вертикальный отступ для кнопок */
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
}

.green-button {
  grid-column: 1 / -1; /* Растягиваем зелёную кнопку на всю ширину сетки */
  background-color: var(--button-bg-color);
  color: white;
}

.white-button {
  background-color: white;
  color: var(--button-bg-color);
  border: 2px solid var(--button-bg-color); /* Зеленая рамка */
}

/*Информация про цену*/

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15ch;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s, transform 0.5s, max-height 0.5s, visibility 0s 0.5s;
  max-height: 0; /* Начальное максимальное значение высоты */
  overflow: hidden;
  pointer-events: none; /* Блокируем клики, когда блок свернут */
  padding: 10px 5ch;
}

.details.expanded {
  max-height: 500px; /* Примерная максимальная высота контента */
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.5s, max-height 0.5s;
  pointer-events: all; /* Включаем клики, когда блок развернут */
  visibility: visible;
}

.info-block {
  border: 2px solid var(--button-bg-color);
  border-radius: 15px;
  padding: 0 20px;
}

/* сетка конкретной информации */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Количество колонок будет меняться в зависимости от ширины экрана */
  gap: 10px; /* Отступы между элементами сетки */
  padding: 10px 100px; /* Отступы внутри контейнера сетки */
}

.grid-item {
  border-radius: 10px; /* Скругление углов границы */
  text-align: center;
}

.grid-item img {
  max-width: 8em; /* Максимальная ширина изображения, чтобы оно не выходило за рамки элемента сетки */
  height: auto; /* Высота изображения будет изменяться автоматически */
  margin-bottom: 10px; /* Отступ снизу изображения */
}