/* Основные стили */
:root {
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-bg-color: #f0f8ff;
    --text-color: #333;
    --link-color: #d6d6d6;
    --footer-bg-color: #6a8faf;
    --button-bg-color: #46992d;
    --white: #fff;
    --transparent-white: rgba(255, 255, 255, 0.8);
    --light-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


body {
    font-family: var(--primary-font);
    line-height: 1.6;
    margin: 0;
    color: #333;
    background-color: #f0f8ff;
}

a, button {
    transition: transform 0.3s ease;
}

a:hover, button:hover {
    transform: scale(1.05);
}

/* Навигация */
nav ul {
    list-style: none;
    margin-bottom: 0;
    padding: 10px 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: #d6d6d6;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Основное содержимое */
main {
    padding: 0 20px;
}

#about, #blog, #services, #games {
    background-color: #fff;
    border-radius: 15px;
}

/* Подвал */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f8ff;
    color: #6a8faf;
}

/* Иконки */
.social-nns {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-right: 15px;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 24px;
    height: auto;
}

.title-icon {
    height: 0.5em;
    vertical-align: middle;
    margin: 0 0.5em;
}

/* Images */

.review-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-image img {
    height: 8em;
    vertical-align: middle;
    margin: 0 0.5em;
}

/* Активная ссылка */
.active {
    font-size: 1.6em;
    color: #fefefe;
    font-weight: 900;
}

/* Фоновое изображение */
.background-image {
    position: relative;
    background: url('Extra/Photos/ValentinaBG.png') center/cover;
    min-height: 100vh;
    border-radius: 10px;
}

/* Тексты */
.title-text {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 15px;
}

.title-text h2 {
    margin: 0px;
}

.alert-box h2 {
    display: inline-block;
}

.game h2 {
    margin-bottom: 5px;
}

.italic-text {
    font-size: x-large;
    font-weight: lighter;
    font-style: italic;
    padding: 0 30%;
}

.event-details {
    font-size: larger;
    font-weight: bold;
    display: inline-block;
    color: #ffffff42;
    padding: 0 30px;
}

.stat p {
    font-size: larger;
    margin: 15px;
}

.service h2 {
    margin-top: 0px;
}

/* Блоки контента */
.content, .button-container, .service, .stat {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    height: 100%;
    padding-left: 10%;
}

.text-block {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

/* Основные стили для service */
.service {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
    flex-basis: 30%;
    position: relative;
    min-height: 250px;
    perspective: 1000px;
}

.service-card {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Стили для передней и задней стороны карточки */
.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    backface-visibility: hidden;
    transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    padding-bottom: 25px;
}


.service.flip .card-front {
    transform: rotateY(-180deg);
}

.service.flip .card-back {
    transform: rotateY(0deg);
}



.alert-box {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #ffffff;
    display: inline-block;
}

/* Анимации */

[fade] {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.1s ease-out, transform 1.1s ease-out;
}

[fade=".data-fade"] {
    opacity: 1;
    transform: translateY(0);
  }

/* Кнопки */
.services-button, .join-button {
    background-color: #46992d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1em;
    text-align: center;
    margin-top: auto;
    padding: 12px 25px;
    align-self: center;
}

.info-button {
    border: 2px solid #46992d; /* зеленая рамка */
    color: #46992d; /* зеленый текст */
    background-color: transparent; /* прозрачный фон */
    padding: 12px 35px;
    text-align: center; /* выравнивание текста по центру */
    font-size: 1em;
    cursor: pointer; /* указатель мыши в виде руки */
    border-radius: 50px;
    margin-top: auto;
    white-space: nowrap;
    align-self: center;
}

.details-button {
    background-color: #00000000;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1em;
    display: inline-block;
}

.service p .join-button {
    margin-right: 10px;
    padding: 14px 40px;
}

.service p button {
    display: inline-block;
}

#services, #stats {
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    color: #6a8faf;
}

#games {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}

#events-description {
    padding: 0;
}

#centred-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 20px;
}

.text-section {
    max-width: 40%;
    margin-right: 20px;
}

.buttons-section {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.buttons-section .join-button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
}


#social-sidebar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    padding: 30px;
}

#social-sidebar a {
    display: block;
    margin-bottom: 10px;
}

#social-sidebar a img {
    display: block;
    width: 30px;
    height: auto;
}

.stat {
    flex-basis: 30%;
    padding-bottom: 15px;
}

.game {
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    padding-right: 40%;
    padding-left: 5%;
    margin-bottom: 20px;
    min-height: 200px;
    color: #424242;
    text-decoration: none;
}


.game:nth-child(2n) {
    margin-right: 2n;
}

/* Карусель */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background-color: #46992d;    
}

.carousel-white {
    background-color: #ffffff;
    margin-top: 40px;
}

.carousel-items {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    flex: 0 0 auto;
    padding: 0 100px;
    width: calc(100% / var(--visible-items));
    border-radius: 10px;
}

.carousel-item button {
    display: inline-block;
    color: #ffffffc4;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f8ff;
    color: #6a8faf;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
}

.carousel-control.left {left: 10px;}
.carousel-control.right {right: 10px;}



/* Медиа запросы для адаптивности */
@media screen and (max-width: 600px) {
    header, footer, nav ul li, .content, #services, #stats, .stat, .service {
        text-align: center;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #about, #blog, .service {
        padding: 10px;
        margin-bottom: 15px;
    }

    .content {
        flex-direction: column;
    }

    #services, #stats {
        flex-direction: column;
        align-items: center;
    }

    .service, .stat {
        flex-basis: 100%;
        margin-bottom: 15px;
    }

    .game {
        margin-right: 0;
    }
}
