/* Основные стили */
:root {
  --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --main-bg-color: #f0f8ff;
  --text-color: #333;
  --link-special-color: #d6d6d6;
  --footer-bg-color: #6a8faf;
  --button-bg-color: #46992d;
  --transparent-white: rgba(255, 255, 255, 0.8);
  --light-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  height: 100%; /* Задает высоту всей страницы */
  margin: 0;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  cursor: pointer;
}

/* Основное содержимое */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Высота равна высоте видимой области браузера */
  overflow: hidden; /* Предотвращает прокрутку страницы */
}

.main-block {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  box-shadow: var(--light-shadow);
  border-radius: 15px;
  background-color: white;
  text-align: center;
}

.visible {
  opacity: 1;
}

/* Подвал */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: var(--main-bg-color);
  color: var(--footer-bg-color);
}

/* Анимация кнопок */

a, button, .hoverable {
  transition: transform 0.3s ease;
}

a:hover, button:hover, .hoverable:hover {
  transform: scale(1.05);
}

/* Основные кнопки */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: .9em;
  padding: 5px 10px;
}

.green-button {
  background-color: var(--button-bg-color);
  color: white;
  text-align: center;
  min-width: 100px;
}

.white-button {
  background-color: white;
  color: var(--button-bg-color);
  border: 2px solid var(--button-bg-color); /* Зеленая рамка */
}

.button-container {
  display: flex;
  place-items: center;
  flex-direction: row;
  padding: 10px;
  gap: 5px;
}

/* Заголовок */

.title-icon {
  height: 1em;
  vertical-align: middle;
  margin: 0 0.5em;
  display: inline-block;
}

.title-text {
  text-align: center;
  font-size: larger;
  margin-top: 15px;
}

.title-text h1 {
  display: inline-block;
  margin: 0;
}

/* Основные блоки */

.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left-item, .right-item {
  padding: 20px 0;
  background-color: var(--transparent-white);
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.left-item {
  flex: 1;
  flex-direction: column;
  margin-right: 15px;
}

.right-item {
  flex: 2;
}

/* Левая часть */

.type-info {
  border-radius: 15px;
  border: 2px solid var(--button-bg-color);
  margin-bottom: 15px;
  padding: 15px 25px;
  width: 200px;
  text-align: center;
}

/* Правая часть */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: #e9f5e9;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-item p {
  margin: 0;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 30px;
  margin-left: 20px;
}

