/* Основные стили */
:root {
  --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --main-bg-color: #f0f8ff;
  --text-color: #333;
  --link-special-color: #d6d6d6;
  --footer-bg-color: #6a8faf;
  --button-bg-color: #46992d;
  --transparent-white: rgba(255, 255, 255, 0.8);
  --light-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  margin: 0;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

/* Основное содержимое */
main {
  padding: 20px;
}

/* Подвал */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: var(--main-bg-color);
  color: var(--footer-bg-color);
}

/* Анимация кнопок */

a, button, .hoverable {
  transition: transform 0.3s ease;
}

a:hover, button:hover, .hoverable:hover {
  transform: scale(1.05);
}

/* Изображение и заголовок */

.game-header {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: white;
  border-radius: 15px;
  height: 200%;
  padding: 1px 1px;
}

.text-box {
  background-color: white;
  border-radius: 15px;
  margin-top: 150px;
  margin-right: 20vh;
  margin-left: 20vh;
  padding: 1px 15vh;
}

.text-box h1 {
  margin: 0;
  text-align: center;
  font-size: 5ch;
  margin-top: 5vh;
}

.title-icon {
  height: 1em;
  vertical-align: middle;
  margin: 0 0.5em;
  display: inline-block;
}

.title-text {
  text-align: center;
  font-size: larger;
  margin-top: 35px;
  margin-bottom: 15px;
}

.title-text h1 {
  display: inline-block;
}

.title-text .small-header {
  display: inline-block;
  font-size: larger;
}

/* Основные кнопки */

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 20px 25%;
  margin-bottom: 15px;
}

.button-container h2 {
  text-align: center;
  grid-column: 1 / -1;
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px 0;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
}

.green-button {
  background-color: var(--button-bg-color);
  color: white;
}

.white-button {
  background-color: white;
  color: var(--button-bg-color);
  border: 2px solid var(--button-bg-color);
}

/* Полное описание */

.full-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
}

.full-description .item {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.full-description img {
  width: 350px;
}

/* Дополнительная информация */

.price-content {
  margin: 20px 35vh;
  padding: 10px 10vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.price-content .title-text {
  margin-top: 15px;
}

.price-content ul {
  list-style: none;
  padding-left: 0;
}

.price-content li {
  padding-left: 10px;
  margin-bottom: 10px;
}

.price-content li::before {
  content: '🔷';
  padding-right: 10px;
}

/* Контейнер "Записаться" */

.join-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 0;
}

.join-button-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-container button {
  padding: 15px 20px;
}

/* Карусель */
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.carousel-items {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-items p {
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  flex: 0 0 auto;
  padding: 0 100px;
  width: calc(100% / var(--visible-items));
  border-radius: 10px;
  padding: 0 40vh;
}

.carousel-items p img {
  display: inline-block;
  width: 60px;
  margin-right: 30px;
  vertical-align: bottom;
}

.carousel-items p h3 {
  display: inline-block;
  text-align: right;
  margin: 10px 0;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f0f8ff;
  color: #6a8faf;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}

.carousel-control.left {
  left: 10px;
}

.carousel-control.right {
  right: 10px;
}